/* Override .MuiListItemButton-root */

/* ListItemButton component */
.MuiListItemButton-root {
  background-color: transparent; /* Default background */
  /* padding-left: 0; */
}

/* Remove hover effect */
.MuiListItemButton-root:hover {
  background-color: transparent; /* Remove hover background color */
}

/* Remove active effect */
.MuiListItemButton-root:active {
  background-color: transparent; /* Remove active background color */
}

 /* Remove focus outline */
.MuiListItemButton-root:focus {
  outline: none;  
}

/* Remove ripple effect */
.MuiListItemButton-root .MuiTouchRipple-root {
  display: none;  /* Remove ripple effect */
}


/* ListItemText component */
.MuiListItemText-primary {
  font-weight: 800 !important;
  font-size: 1.2rem !important;
}

/* card hover ul li */
.card {
  transform: translateY(-10px);
/* Optional: Adding a slight shadow to indicate hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


